*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
body{
  background-image: radial-gradient(mintcream 0%,orange 100%);
  font-family: "sans-serif";
  user-select: none;
}
header, body{
  min-height: 20vh;
  display:flex;
  justify-content: center;
  align-items: center;
color: white;
}
form {
  display: flex;
  justify-content: center;
}


/* custom select */
select{
  -webkit-appearance : none;
  -moz-appearance:none;
  -ms-appearance: none;
  apperance: none;
  outline: 0;
  box-shadow: none;
 border: none;
  background-image: none;
}
.select{
  width: 7vw;
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.select::after{
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
.completed{
  text-decoration: line-through;
  opacity: 0.5;
}
.complete-btn{
  background: rgb(11,212,162);
  padding: 0.5rem;
  font-size: 2rem;
  border: none;

}
.trash-btn{
  background: red;
  padding: 0.5rem;
  font-size: 2rem;
  border: none;


}
html,body{
  min-height: 100%;
}
.filter-todo{
  display: flex;
  padding: 1rem;
}
.todo li{
  flex: 2;
  width: 10vw;
}
.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  transition: all 1s ease;
}
.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list{
  min-width:30%;
  list-style: none;
}
.todo-item{
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check{
  pointer-events: none ;
  color: white;
}
.fa-plus:hover{
  color: white;
  transition: all 0.3s ease;
}
.fall{
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}
form button{
  color: #ff861c;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover{
  background: orange;
  color: white;
}
form input,
form button{
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
select{
  padding: 0.5rem;
  /*font-size: 2rem;*/
  border: none;
  background: white;
}
select{
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  background: white;
}
form button:hover{
  background: #ff6f47;
  color: white;
}
.todo-button{
  color: #ff6f47 !important;

}
.app {
  /*display:flex;*/
  /*flex-direction: column;*/
  /*justify-content:center;*/
  /*!*align-self:center;*!*/
  /*align-items:center;*/
  /*!*width: 50vw;*!*/
  /*height: 500px;*/
  /*border-style: solid;*/
  /*width: 30vw;*/

}

