*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
body{
  background-image: radial-gradient(mintcream 0%,orange 100%);
  font-family: "sans-serif";
  user-select: none;
}
header, body{
  min-height: 20vh;
  display:flex;
  justify-content: center;
  align-items: center;
color: white;
}
form{
  display: flex;
  justify-content: center;
}


/* custom select */
select{
  -webkit-appearance : none;
  -moz-appearance:none;
  -ms-appearance: none;
  apperance: none;
  outline: 0;
  box-shadow: none;
 border: none;
  background-image: none;
}
.select{
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.select::after{
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
.completed{
  text-decoration: line-through;
  opacity: 0.5;
}
html,body{
  min-height: 100%;
}
.todo li{
  flex:1;
}
.todo{
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5re;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
form button{
  color: #ff861c;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover{
  background: orange;
  color: white;
}
form input,
form button{
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
select{
  display: flex;
  flex-direction: column;
  background: white;
}
form button:hover{
  background: #ff6f47;
  color: white;
}
.todo-button{}
.app {
  display:flex;
  flex-direction: column;
  justify-content:center;
  /*align-self:center;*/
  align-items:center;
  /*width: 50vw;*/
  height: 500px;
  border-style: solid;
  width: 30vw;

}

